/*
***** SELECTOR UNIVERSAL 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jockey One', sans-serif;
}

/* .location-point.selected {
    background-color: #ff0000; Cambia el color de fondo cuando se selecciona
    transform: scale(1.2); Aumenta el tamaño del punto cuando se selecciona
    transition: background-color 0.3s, transform 0.3s; Agrega una transición suave
} */

/*
***** VISTA WELCOME 
*/
.main{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionWelcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* max-width: 900px; */
}
.sectionWelcome__title{
    text-align: center;
    /* background-color: aqua; */
    margin-bottom: 20px;
}
.sectionWelcome__title h1{
    font-size: 180px;
    line-height: 1;
}
.sectionWelcome__title span{
    font-size: 20px;
    line-height: 1;
}
.sectionWelcome__links{
    /* background-color: antiquewhite; */
    max-width: 400px;
}
.sectionWelcome__links a{
    margin: 0px 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    line-height: 1;
    border-radius: 7px;
    background-color: #00001a;
    padding: 15px 40px;
    transition: all 300ms ease;
}
.sectionWelcome__links a:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
    background-color: #fff;
    color: #00001a;
}
.sectionWelcome__links--mod{
    background-color: #21213B !important;
}
.sectionWelcome__links--mod:hover{
    background-color: #fff !important;
    color: #21213B !important;
}


/*
***** VISTA LOGIN Y REGISTER
*/
.loginSection{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.loginSection__text{
    width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginSection__text h1{
    font-size: 120px;
    line-height: 1;
}
.loginSection__text span{
    font-size: 18px;
}
.loginSection__login{
    background-color: #00001a;
    width: 40%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginSection__login h1{
    font-size: 30px;
    line-height: 1;
}
.container__form{
    text-align: center;
    width: 70%;
}
.login__form{
    width: 100%;
    /* background-color: #21213B; */
    height: 45px;
    margin: 10px 0px;
}
.form__input{
    width: 100%;
    height: 100%;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 0px 15px;
    border-radius: 7px;
    transition: all 300ms ease;
}
.form__input:focus{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.form__button{
    cursor: pointer;
    border-radius: 7px;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #21213B;
    font-size: 20px;
    transition: all 300ms ease;
}
.form__button:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
    background-color: #fff;
    color: #21213B;
}
.login__link{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}
.login__link a{
    border-radius: 7px;
    background-color: #21213B;
    padding: 4px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 300ms ease;
}
.login__link a:hover{
    color: #21213B;
    background-color: #fff;
}
.form__alert{
    background-color: rgb(255, 33, 33);
    padding: 10px;
    border: rgb(207, 0, 0);
    display: inline-block;
    margin-top: 300px;
    position: relative;
}


/*
***** VISTA HOME
*/
.formHome{
    padding: 0px 20px;
    background-color: #00001a;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.formHome__input{
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 0px 5px;
    height: 30px;
    width: 150px;
}
.formHome__button{
    cursor: pointer;
    width: 150px;
    background-color: #21213B;
    color: #fff;
    transition: all 300ms ease;
}
.formHome__button:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, .2);
    background-color: #fff;
    color: #21213B;
}
.button__logout{
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: #00001a;
    text-align: center;
}
.button__logout a{
    text-decoration: none;
    padding: 10px;
    background-color: #21213B;
    border-radius: 7px;
    color: #fff;
    transition: all 300ms ease;
}
.button__logout a:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, .2);
    background-color: #fff;
    color: #21213B;
}


/*
***** VISTA VERIFIED
*/
.verifiedMain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    text-transform: uppercase;
}
.verifiedMain__title{
    font-size: 40px;
}
.verifiedMain__title--span{
    color: #00001a;
}
.verified__container{
    max-width: 700px;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    background-color: #00001a;
}
.verified__container--title{
    margin-bottom: 20px;
}
.verified__container--button{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #21213B;
    transition: all 300ms ease;
}
.verified__container--button:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    background-color: #fff;
    color: #21213B;
}


/* 

    JAVACRIPT

*/
.open-popup-button img {
    width: 30px;
    cursor: pointer;
}
.popup {
    color: #fff;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: #00001a;
    z-index: 1;
}
.close-popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}